{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <h1><a href="{% url 'feed' %}">LITReview</a></h1>
        {% if user.is_authenticated %}
            <nav class="navbar">
                <a href="{% url 'feed' %}">Flux</a>
                <a href="{% url 'my_posts' %}">Posts</a>
                <a href="{% url 'follows' %}">Abonnements</a>
                <a href="{% url 'logout' %}">Se déconnecter</a>
            </nav>
        {% endif %}
        <hr>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock content %}
    </body>
</html>