{% extends "base.html" %}
{% load rating_extras %}
{% block content %}

  <div class="text-center my-3" id="welcome-message">
    <h1>Bienvenue {{ user.username|capfirst }} !</h1>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var welcomeMessage = document.getElementById('welcome-message');
      setTimeout(function() {
        welcomeMessage.classList.add('fade-out');
      }, 1100);

      welcomeMessage.addEventListener('animationend', function() {
        welcomeMessage.remove();
      });
    });
  </script>


  <div class="container-sm">

    <div class="row text-center justify-content-center m-3 g-5">
      <div class="col-sm-auto">
        <a class="btn btn-secondary" href="{% url 'ticket_create' %}">Demander une critique</a>
      </div>
      <div class="col-sm-auto">
        <a class="btn btn-secondary" href="{% url 'review_create' %}">Créer une critique</a>
      </div>
    </div>

    {% for post in page_obj %}
      {% if post|model_type == "Ticket" %}
        <div class="row border border-dark p-3">
          <div class="col-sm-8 text-start">
            <p>Critique demandée par {% author_display post.author %}</p>
          </div>
          {% include "rating/partials/ticket_snippet.html" with ticket=post %}
          {% if not post.has_been_reviewed %}
            <div class="col-sm text-end align-self-end mx-auto m-4">
              <a class="btn btn-secondary me-3" href="{% url 'ticket_respond' post.id %}">
                Créer une critique
              </a>
            </div>
          {% endif %}
        </div>

      {% elif post|model_type == "Review" %}
        <div class="row border border-dark p-3">
          <div class="col-sm-8 text-start">
            <p>Critique publiée par {% author_display post.author %}</p>
          </div>
          {% include "rating/partials/review_snippet.html" with review=post %}

          {% if post.ticket %}
            <div class="row border border-dark w-75 mx-auto">
              <div class="col-sm-8 text-start mt-2">
                <p class="small mb-1">Ticket - {% author_display post.ticket.author %}</p>
              </div>
              <div class="col-12">
                <p class="lead fs-6">{{ post.ticket.title }}</p>
              </div>
              {% if post.ticket.image %}
                <div class="col pb-3">
                  <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}"
                       class="img-fluid img-thumbnail img-mini-cover">
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}

  </div>

  {% include "rating/partials/page_navigation.html" %}

{% endblock %}