{% extends "base.html" %}
{% block content %}

    <h3>Suivre d'autres utilisateurs</h3>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
        <button type="submit">Suivre</button>
    </form>

    {% if following %}
        <table>
            <thead>
                <tr>
                    <th>Abonnements</th>
                </tr>
            </thead>
            <tbody>
                {% for user in following %}
                    <tr>
                        <td>{{ user }}</td>
                        <td><a href="{% url 'unfollow' user.id %}">Désabonner</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
    
    {% if followers %}
        <table>
            <thead>
                <tr>
                    <th>Abonnés</th>
                </tr>
            </thead>
            <tbody>
                {% for user in followers %}
                    <tr>
                        <td>{{ user }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock content %}