{% extends "base.html" %}
{% load rating_extras %}
{% block content %}

  <h4 class="text-center">Vos posts</h4>

  <div class="container-sm" role="main">
    {% for post in page_obj %}

      {% if post|model_type == "Ticket" %}
        <div class="row border border-dark p-3" role="article">
          <div class="col-sm-8 text-start">
            <p>Vous avez publié un ticket</p>
          </div>
          {% include "rating/partials/ticket_snippet.html" with ticket=post %}
          <div class="row justify-content-end">
            <div class="col-sm-auto">
              <a href="{% url 'ticket_edit' post.id %}" class="btn btn-secondary">Modifier</a>
            </div>
            <div class="col-sm-auto">
              <form action="{% url 'ticket_delete' post.id %}" method="post">
                {% csrf_token %}
                <button onclick="return confirm('Etes vous sûr de vouloir supprimer ce ticket ?');"
                        type="submit" class="btn btn-secondary">Supprimer</button>
              </form>
            </div>
          </div>
        </div>

      {% elif post|model_type == "Review" %}
        <div class="row border border-dark p-3" role="article">
          <div class="col-sm-8 text-start">
            <p>Vous avez publié une critique</p>
          </div>
          {% include "rating/partials/review_snippet.html" with review=post %}

          {% if post.ticket %}
            <div class="row border border-dark w-75 mx-auto my-3">
              <div class="col-sm-8 text-start mt-2">
                <p class="small mb-1">Ticket - {% author_display post.author %}</p>
              </div>
              <div class="col-sm-4 text-end mt-2">
                <p class="fw-light small">{{ post.ticket.time_created|post_time_display }}</p>
              </div>
              <div class="col-12">
                <p class="lead fs-6">{{ post.ticket.title }}</p>
              </div>
              {% if post.ticket.image %}
                <div class="col pb-3">
                  <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}"
                       class="img-fluid img-thumbnail img-mini-cover">
                </div>
              {% endif %}
            </div>
          {% endif %}
          <div class="row justify-content-end">
            <div class="col-sm-auto mb-1">
              <a href="{% url 'review_edit' post.id %}" class="btn btn-secondary">Modifier</a>
            </div>
            <div class="col-sm-auto">
              <form action="{% url 'review_delete' post.id %}" method="post">
                {% csrf_token %}
                <button onclick="return confirm('Etes vous sûr de vouloir supprimer cette critique ?');"
                        type="submit" class="btn btn-secondary">Supprimer</button>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="m-2 float-end">
      {% include "rating/partials/page_navigation.html" %}
    </div>
  </div>

{% endblock %}