{% load rating_extras %}
{% load bootstrap_icons %}
{% load static %}

<div class="col-sm-4 text-end">
  <p class="fw-light small">{{ review.time_created|post_time_display }}</p>
</div>

<div class="col-12 text-start">
  <p class="lead">{{ review.headline }} <span class="mx-3"> - </span>
    {% for i in "12345"|make_list %}
      {% if i|add:0 <= review.rating %}
        {% bs_icon "star-fill" %}
      {% else %}
        {% bs_icon "star" %}
      {% endif %}
    {% endfor %}
  <p>
</div>

<div class="col-12">
  <p>{{ review.body }}</p>
</div>